@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@media screen and (min-width: 320px) and (max-width: 480px) {
  .androidbutton{
    width: 30%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-size: cover;
  background: rgb(250, 250, 255);
  background: -moz-linear-gradient(120deg, rgba(250, 250, 255, 1) 35%, rgba(65, 224, 216, 1) 35%);
  background: -webkit-linear-gradient(120deg, rgba(250, 250, 255, 1) 35%, rgba(65, 224, 216, 1) 35%);
  background: linear-gradient(120deg, rgba(250, 250, 255, 1) 35%, rgba(65, 224, 216, 1) 35%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafaff", endColorstr="#41e0d8", GradientType=1);
  padding-bottom: 0;
}

footer {
  background-color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  justify-content: center;
}

.container {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*.right{
  display: flex;
  justify-content: flex-end;
}*/

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.box {
  display: flex;
  flex-direction: row;
  word-spacing: 120%;
}

.one {
  flex: 1 1 auto;
}

.two {
  flex: 1 1 auto;
}

.responsive {
  width: 100%;
  height: auto;
  max-width: 300px;
}

/*----- HEADER -----*/
.nav {
  padding-top: 10px;
  margin-bottom: 10%;
}

.right {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.buttonSubscribe {
  background-color: #000;
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.headertext {
  line-height: 2rem;
  white-space: nowrap;
  padding-top: 100px;
}

.first {
  order: 1;
}

.headerarticle {
  text-align: center !important;
}

.imgheader {
  text-align: center;
}

.headerresp {
  color: black !important;
}

.imgleft {
  margin-right: 150px;
}

.androidbutton {
  padding-top: 70px;
}

/*----- colors -----*/
.text-white {
  color: white;
}

/*----- article -----*/
.article1 {
  background-color: rgb(38, 42, 52);
  padding-top: 10%;
  padding-bottom: 5%;
}

.article2 {
  background-color: rgb(103, 230, 224);
  padding-top: 5%;
  padding-bottom: 0;
  justify-content: center;
}

.nav2 {
  padding-top: 10px;
  margin-bottom: 10%;
  margin-left: 200px;
}

.sectiontitle {
  padding-bottom: 35px;
}

.sectiontext {
  line-height: 2rem;
  margin-bottom: 20px;
}

.resptext{
  font-size: 1vw;
}

.buttonGet {
  background-color: rgb(103, 230, 224);
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.sectiontext2 {
  line-height: 2rem;
  padding-right: 50px;
  padding-bottom: 35px;
}

.lefttext {
  width: 80%
}

.sliderpos {
  text-align: center !important;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.a2title {
  text-align: center;
  padding-bottom: 0;
}

.p2 {
  text-align: center;
  padding-bottom: 5%;
}

.speech-bubble {
  position: relative;
  background: #ffffff;
  border-radius: .4em;
  padding: 24px;
  margin-top: 120px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #ffffff;
  border-left: 0;
  margin-top: -20px;
  margin-left: -20px;
}

.johndoe {
  color: rgb(103, 230, 224);
}

.quot {
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
  color: rgb(65, 224, 216);
}

#quote-right {
  text-align: right;
}

#img-right {
  text-align: right;
  width: 100% height:auto;
}

/*----- Join us -----*/
.joinus {
  margin-top: -120px;
  padding-bottom: 100px;
  padding-top: 35px;
  background-color: rgb(38, 42, 52);
  text-align: center;
  color: white;
  height: auto;
}

.box3 {
  display: flex;
  flex-direction: column;
  word-spacing: 120%;
}

.form-group {
  justify-content: center;
}

.form-control {
  border: none;
  border-radius: 0;
  width: 40%;
  margin-right: 1.8rem;
  padding: 0.7rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.buttonb {
  background-color: rgba(250, 250, 255, 1);
  border-color: rgba(250, 250, 255, 1);
  border-radius: 0;
  color: rgb(65, 224, 216);
  padding: 0.5rem 3rem 0.5rem 3rem;
}

.nordfooter {
  color: rgb(65, 224, 216);
}

  #img-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .second {
    order: 2;
    margin-top: 20px;
    text-align: center !important;
  }

  .speech-bubble:after {
    content: '';
    position: absolute;
    top: 105%;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #ffffff;
    border-bottom: 0;
    margin-left: -20px;
    margin-bottom: -20px;
  }

  #h1span {
    color: black !important;
  }

  .article2title {
    width: 90%;
    margin: auto;
  }
}
